@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }
}

body {
  overflow-x: hidden;
  background: #000;
  color: white;
  position: relative;
}

/* 定义滚动条宽度 */
.scrollable-div::-webkit-scrollbar {
  width: 6px; /* 可以根据需要调整宽度 */
}

/* 滚动条轨道 */
.scrollable-div::-webkit-scrollbar-track {
  background: #ffffff; /* 滚动条轨道背景色 */
}

/* 滚动条滑块 */
.scrollable-div::-webkit-scrollbar-thumb {
  background: #888; /* 滑块颜色 */
  border-radius: 0px;
}

/* 滑块悬停状态 */
.scrollable-div::-webkit-scrollbar-thumb:hover {
  background: #555; /* 悬停时滑块颜色 */
}
